<ion-header class="ion-no-border">
</ion-header>
<ion-content color="primary">

  <img src="" alt="" class="src">

  <div class="login-section ion-padding">
    <div class="heading">
      <h1>Sign Up! </h1>
    </div>
    <div class="login-form">
      <div class="form-input">
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="number" placeholder="Contact Number"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-input type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button">
      <ion-button class="login-button" routerLink="/tabs">Sign up</ion-button>
      <p class="forgot" routerLink="/login">Already have an account.</p>
    </div>

  </div>
</ion-content>
